body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #333333;
}

h1 {
  color: #00FF00;
}

p {
  color: #FFFFFF;
}

#dropzone {
  border-color: #00FF00;
  width: 300px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
}

button {
  background-color: #00FF00;
  color: black;
}

@media (max-width: 600px) {
  #dropzone {
    width: 80%;
  }

  #rewind,
  #fastforward {
    width: 100%;
    padding: 10px;
    margin: 5px;
  }
}

#button-container {
  display: flex;
  flex-direction: row;
}

@media (max-width: 786px) {
  #button-container {
    flex-direction: column;
  }
}

#fileinput {
  background-color: #00FF00;
  color: black;
  padding: 10px;
  margin: 5px;
}

/* @media (max-width: 786px) {
  #fileinput {
    width: 100%;
  }
} */